body 
{
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1A1A1A;
    color: white;
}

canvas {
    margin: 50px 0px;
}

.control-container {
    display: flex;
    flex-direction: row;
    width: 700px;
    background: #434343;
}

.control-box {
    display: flex;
    flex-direction: column;
}
.control-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 40px;
}

.slider-container {
    display: flex;
    flex-direction: row;
}

.paint-container {
    display: flex;
    flex-direction: column;
}

.paint-box {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.paint-box input {
    margin-left: 25px;
}

.paint-box span {
    font-weight: 700;
}

.options-container {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.load-img-box {
    margin-top: 15px;
}

.load-img-box button {
    margin-top: 5px;
    margin-left: 90px;
}

.resetBtn {
    margin-top: 100px;
}

#black {
    color: black;
}
#grey {
    color: grey;
}
#white {
    color: white;
}
#red {
    color: red;
}
#orange {
    color: orange;
}
#yellow {
    color: yellow;
}
#green {
    color: green;
}

#blue {
    color: blue;
}

#purple {
    color: purple;
}

#brush {
    margin-left: 23px;
}